body {
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-image: url("image/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
  position: fixed;
  color: white;
}

.container {
  max-height: 100vh;
  min-height: 100vh;
  border: 2px solid black;
  padding: 2rem;
}

.left {
  width: 25%;
  padding: 2rem 1rem;
}

.right {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.round {
  width: 100%;
  text-align: center;
  margin-bottom: -1rem;
}

.player_ids {
  width: 100%;
  height: 30vh;
}

.player_ids h1 {
  position: relative;
  display: inline-block;
  top: 50%;
  margin: 2rem 3rem;
}

.player_ids :nth-child(1) {
  left: 13%;
}
.player_ids :nth-child(2) {
  left: 32%;
}

.game_area {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.ppp {
  display: none;
}

.player {
  width: 50%;
  height: 70%;
  margin: 0 3rem 3rem 3rem;
  background-color: #865439;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.player__icon {
  font-size: 5em;
  color: #ffe6e6;
}

.active {
  animation: beat 1s infinite;
  color: #28ffbf;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@media (max-width: 900px) {
  .player_ids {
    display: none;
  }
  h1 {
    font-size: large;
  }

  .left p {
    font-size: 1rem;
  }

  .container {
    padding: 2px;
  }

  .left {
    font-size: 0.6rem;
    width: 30%;
  }

  .right {
    font-size: 0.5rem;
    width: 70%;
  }

  .game_area {
    height: 90vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .game_area h1 {
    display: block;
    margin-top: 1.5rem;
  }

  .player {
    width: 75%;
    height: 55%;
  }
}

@media (max-height: 500px) {
  body {
    font-size: 0.1rem;
  }
  .left {
    width: 10%;
  }
  .right {
    width: 90%;
  }
  .player {
    width: 60%;
    height: 60%;
    padding: 0;
    margin: 0;
  }
}
